{% extends "base.html" %}
{% block content %}
    <div class="content-section">
	    {% with messages = get_flashed_messages() %}
	        {% if messages %}
	            {% for message in messages %}
	                <p>{{message}}</p>
	            {% endfor %}
	        {% endif %}
	    {% endwith %}

		<table>
			<tr>
				<th>user_id</th>
				<th>username</th>
				<th>created_at</th>
				<th>expires_at</th>
				<th>explaination</th>
				<th></th>
			</tr>
			{% for report in page %}
			<tr>
				<td>{{ report.user_reporting.username }}</td>
				<td>{{ report.user_reported.username }}</td>
				<td>{{ report.created_at }}</td>
				<td>{{ report.expires_at }}</td>
				<td><p>{{ report.explaination }}</p></td>
				<td><a href="/block_user/{{ report.id }}">block</a></td>
			</tr>
			{% endfor %}
		</table>

	</div>

	<div class=pagination>
	{% for item in page.iter_pages() %}
		<a href="/reports?page={{item}}">{{item}}</a>
	{% endfor %}
	</div>

{% endblock %}
