{% extends "base.html" %}
{% block content %}

	<table>
		<tr>
			<th>user_id</th>
			<th>created_at</th>
			<th>expires_at</th>
		</tr>
		{% for report in reports %}
		<tr>
			<td>{{ report.user_id }}</td>
			<td>{{ report.created_at }}</td>
			<td>{{ report.expires_at }}</td>
		</tr>
		{% endfor %}
	</table>

	{% if page_count == 0 %}
		no reports
	{% else %}
		page: {{ pagenum }} out of {{ page_count }}<br>
	    {% for page in page_range %}
	    	{% if page == pagenum %}
	        <a href="/reports/{{username}}?page={{page}}">[ {{page}} ]</a>
	    	{% else %}
	        <a href="/reports/{{username}}?page={{page}}">{{page}}</a>
	    	{% endif %}
	    {% endfor %}
    {% endif %}

{% endblock %}
